.fixarFlutuacao {
  content: "";
  display: table;
  clear: both;
}

.fixarElemento {
  clear: both;
}

.alinhamentoCentralizado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alinhamentoVertical {
  display: table-cell;
  vertical-align: middle;
}

.alinhamentoHorizontal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.planoFundoColorido {
  /* Aplica background-image como fundo no título */
  background-image: linear-gradient(
    to bottom,
    rgb(221, 75, 37),
    rgb(0, 109, 180),
    rgb(236, 197, 11)
  );
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  background-position: center center;
}

.tema-escuro {
  /* .tema-escuro:root */
  --_cor: #fafafa;
  --__cor: #ecf0f1;
  --_cor-fundo: #343a40;
  --_cor-fundo-menu: #2c3035;
  --__cor-fundo: #212529;
  --_cor-borda: #4f5860;
  --_cor-fundo-botao: #313e51;
  --__cor-fundo-botao: #40556a;
  --_cor-borda-botao: #bdcbd4;
}

.sobrepor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--_cor-fundo-menu);
  opacity: 0.7;
  z-index: 3;
}

